<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/admin">Admin Hotel | </a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
        <li>
          <a href="#">
            <div>
              <i class="fa fa-comment fa-fw"></i> New Notofication
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
      </ul>
      <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> Profil</a>
        </li>
        <li><a href="/admin/ganti-password"><i class="fa fa-gear fa-fw"></i> Ganti Password</a>
        </li>
        <li class="divider"></li>
        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Keluar</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <a href="/admin"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
          <a href="/admin/fasilitas"><i class="fa fa-th-large fa-fw"></i> Fasilitas</a>
        </li>
        <li>
          <a href="/admin/kategori"><i class="fa fa-th fa-fw"></i> Kategori</a>
        </li>
        <li>
          <a href="/admin/mhs"><i class="fa fa-graduation-cap fa-fw"></i> xxx</a>
        </li>
        <li>
          <a href="/admin/dosen"><i class="fa fa-user-md fa-fw"></i> xxx</a>
        </li>
        <li>
          <a href="/admin/makul"><i class="fa fa-book fa-fw"></i> xxx</a>
        </li>
        <li>
          <a href="/admin/kelas"><i class="fa fa-university fa-fw"></i> xxx</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-users fa-fw"></i> Kelola User<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="#">xxx</a>
            </li>
            <li>
              <a href="#">xx</a>
            </li>
            <li>
              <a href="#">xxx</a>
            </li>
          </ul>
          <li>
            <a href="/admin/setting"><i class="fa fa-cog fa-fw"></i> Setting</a>
          </li>
          <!-- /.nav-second-level -->
        </li>

      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
